body{
    background: url(../imagenfondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;

}

* {
    box-sizing: border-box;
}

.contenedor{
    width: 100%;
    padding: 15px;
    box-shadow: rgba(87, 84, 84, 0.466);
}

.formulario h1{
    text-align: center;
    color: rgb(17, 17, 17);
}


.formulario {
    background-color: white;
    margin-top: 150px;
    padding: 5px;
}

input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 5px 10px;
    border: none;
}

.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid rgba(117, 117, 117, 0.267) ;

}

.button{
    background-color:  rgb(17, 17, 17);
    border: none;
    width: 100%;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 24px;

}

.button:hover{
    cursor: pointer;
    color: rgb(92, 91, 91);
}

.formulario p{
    text-align: center;
}

.formulario a{
    text-decoration: none;
    color: rgb(41, 113, 116);
}

@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 140px;
        border-radius: 14px;
    }
}